<h1 class="font">Welcome to Angular Series!</h1>
<app-employee />
<div class="middle">
  <button class="middle" (click)="login()">Login</button>
  <button class="middle" (click)="logout()">Logout</button>
</div>
@if (isLoggedIn) {
<div class="middle">User is Logged In</div>
}@else {
<div class="middle space">User is Logged out</div>
}
<div class="middle space extra">
  <input type="radio" name="gender" checked (click)="setGender(true)" />Male
  <input type="radio" name="gender" (click)="setGender(false)" />Female
</div>
@if(gender){
<div class="middle space">I am a Male</div>
}@else {
<div class="middle space">I am a Female</div>
}
@if(numberOne>numberTwo){
    <div>Number One is greater than Number Two</div>
}@else if(numberOne<numberTwo){
 <div>Number One is less than Number Two</div>
}@else{
    <div>Number One and Number Two both are equal.</div>
}
