.font {
  font-size: 50px;
  text-align: center;
  color: purple;
}
h1 {
  background-color: lightblue;
}
.middle {
  text-align: center;
}
.space {
  margin-top: 5px;
  font-weight: bold;
  font-size: large;
  color: purple;
}
.extra {
  color: blue;
  margin-top: 10px;
}
